body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1000px;
}

.body {
    width: 50%;
    margin: 0 auto;
}

#picture {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    top: 0;
    left: 0;
}

#top {
    display: inline-block;
    height:150px;
    width: 500px;
}

.title {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    background-color: #10b5f1;
    color: white;
    border: 2px solid black;  
    margin-bottom: 10px;  
}

.subtitle {
    text-align: center;
}
  
.ingredients {
    width: 50%;
    margin: 0 auto;
    border: 2px;
    display: flex;
    flex-direction: column;

}

.cbox {
    height: 25px;
    width: 25px;
    background-color: #eee;
    cursor: pointer;
}


.cboxContainer:hover input ~ .cbox {
    background-color: #10b5f1;
  }


.navigationButtonsDiv{
    width: 50%;
    text-align: center;
    margin: auto;
}

.button {
    border: 2px solid black;
    background-color: #279fcb;
    padding: 15px 35px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button:hover{
    background-color: #10b5f1;
}

