body {
    padding-bottom: 1000px;
    background-color: rgb(205, 199, 199);
    color: white;
    font-family: Montserrat;
    font-size: 18px;
}

.frame {      
    width: 50%;
    margin: 0 auto;
    background-color: rgb(109,192,102);
    padding: 80px 50px;
    box-shadow: 0 5px 0 rgba(0,0,0, .5);
    word-wrap: break-word
}

#picture {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 0 rgba(0,0,0, .5);
    margin: 10px 10px;
    vertical-align: top;
}

#top {
    display: inline-block;
    height: 150px;
    width: 500px;
    vertical-align: top;
}

#bottom {
    vertical-align: top;
}

.title {
    width: 100%;
    font-size: 30px;
    text-align: center;
    background-color: rgb(109,192,102);
    color: white;
    margin-bottom: 50px;  
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 5px 0 rgba(0,0,0, .5);
    text-decoration: underline;
}

.subtitle {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.subtitle-color {
    background-color: rgb(109,192,102);
    box-shadow: 0 5px 0 rgba(0,0,0, .5);
    padding: 10px 50px;
}
  
.ingredients {
    width: 50%;
    margin: 0 auto;
    border: 2px;
    display: flex;
    flex-direction: column;
    background-color: rgb(109,192,102);
    box-shadow: 0 5px 0 rgba(0,0,0, .5);
    margin-bottom: 50px;
    padding: 20px 50px;
}

.cbox {
    height: 25px;
    width: 25px;
    background-color: #eee;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 3px 0 rgba(0,0,0, .5);
    margin-bottom: 0px;
    margin-top: 5px;
}


.cboxContainer:hover input ~ .cbox {
    background-color: #10b5f1;
}


.navigationButtonsDiv{
    width: 100%;
    text-align: center;
    margin: auto;
}

.button {
    font-family: Montserrat;
    background-color: rgb(160,209,115);
    padding: 15px 35px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 0.15s, padding 0.1s;
    box-shadow: 0 3px 0 rgba(0,0,0, .5);
    margin-bottom: 20px;
}

.button:hover {
    opacity: .5;
}

.button:active {
    padding-left: 60px;
    padding-right: 60px;
    opacity: .3;
}

.dish-name {
    font-weight: bold;
    font-size: 76px;
    margin-bottom: 0px;
    margin-top: 0px;
}

